body .btn-primary {
    border-color: #030F6B;
    color: #ffffff;
    background-color: #030F6B;
}

footer.footer-info {
    background-color: #070c38;
    background: linear-gradient(rgb(7, 12, 56, 0.95), rgba(7, 12, 56, 0.95)), url('/img/pupr-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.gallery-info {
    background-color: #070c38;
    background: linear-gradient(rgba(251, 183, 23, 0.9), rgba(251, 183, 23, 0.9)), url('/img/pupr-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.ikm-info {
    background-color: #070c38;
    background: linear-gradient(rgba(251, 183, 23, 0.9), rgba(251, 183, 23, 0.9)), url('/img/pinus.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.blue-icon {
    color: #030F6B !important;
}

.page-link.active, .datatable-pagination a.active, .active > .page-link, .datatable-pagination .active > a {
    background-color: #030F6B;
    border-color:  #030F6B;
}

.ikm-header {
    background-color: #030F6B;
    border-color:  #030F6B;
    color: #FFF;
    padding: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
}

.ikm-score {
    background-color: #FFF;
    padding: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
}

.caption-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(7, 12, 56, 0.7);
    color: #fff;
    padding: 10px;
}
